@use '../base/variables';
@use '../base/mixins';

.header__nav {
    @include mixins.flex();
    justify-content: space-between;
    padding-block: 15px;
}

.header-logo,
.header-user {
    @include mixins.flex();
    justify-content: center;
    gap: 20px;
}

.header-user {
    gap: 30px;
}

.image {
    @include mixins.image-styles();
}

.header-logo--name a {
    font-size: clamp(18px, 1.66vw, 20px);
    transition: variables.$transition;

    &:hover {
        text-decoration: underline;
    }
}

.lang-switcher--btn {
    font-size: variables.$h3-font-size;
}