@use 'variables';

@mixin flex() {
    display: flex;
    align-items: center;
}

@mixin image-styles {
    max-width: 32px;
    aspect-ratio: 1;
}

@mixin add-btn-styles {
    background-color: variables.$btn-color;
    border-radius: variables.$border-radius;
    padding: variables.$btn-padding;
    border: 2px solid variables.$border-color;
    color: #fff;
}

@mixin grid() {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
}

@mixin card-grid() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
}

@mixin delete-btn-styles {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 15px;
}