$background: #F6F7FB;
$card-color: #FFFFFF;
$main-text-color: #1F2937;
$text-color: #6B7280;
$btn-color: #2563EB;
$btn-hover-color: #1D4ED8;
$success-color: #22C55E;
$danger-color: #EF4444;
$border-color: #E5E7EB;
$card-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
$border-radius: 20px;
$transition: 0.3s ease;

$back-color: #324A5E;
$back-color-dark: #283C4D;
$letter-color: #F9B54C;
$btn-padding: 10px 15px;

$p-font-size: clamp(15px, 0.015vw, 18px);
$h3-font-size: clamp(22px, 0.02vw, 25px);